@charset "utf-8";
/* CSS Document */

#top-band {
	background: #d9877c;
	min-height: 5px;
}
.sec-vsl-1 {
	background-image: url(../images/light-background.jpg?v=1.27)!important;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}
.white-wrapper {
	
	margin: 0 10%;
	padding: 0 20px;
	
}


.product-section {
    margin: 8% 0;
}

.pro-6
{ margin-top:-5%;
}

.col-pad-0
{ padding:0;
}


.product-box {
    box-shadow: #c6c5c5 0 4px 12px 0;
    background-image: linear-gradient(#fff, #fff)!important;
    background-size: auto!important;
    background-position: 50% 50%!important;
    background-attachment: scroll!important;
    background-repeat: no-repeat!important;
    padding: 0 0 20px!important;
}

.product-duration {
    color: #ce1d1d!important;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-top: 0 !important;
    font-size: 19px !important;
  font-weight:600;
}

.add-icon svg {
    width: 8%;
    fill: #fff;
}

h4.product-quantity {
    text-align: center;
    color: #000;
}


.product-package-name {
    color: #fff;
    padding: 10px 0;
    text-align: center;
    background-image: linear-gradient(#b9b9b9, #b9b9b9)!important;
    background-size: auto!important;
    background-position: 50% 50%!important;
    background-attachment: scroll!important;
    background-repeat: no-repeat!important;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 22px !important;
  font-weight:600;
}

.product-price {
    font-size: 40px !important;
    font-family: sans-serif;
    color: #242a3f;
    text-align: center;
    margin-bottom: 0 !important;
    line-height: 85% !important;
  font-weight:600;
}

.product-price span {
    color: #ce1d1d!important;
    font-size: 25px!important;
}

.product-shipping {
    text-align: center;
    font-family: sans-serif;
    font-size: 16px !important;
}

.product-package-name.red {
    background-image: linear-gradient(#ce1d1d, #ce1d1d)!important;
    background-size: auto!important;
    background-position: 50% 50%!important;
    background-attachment: scroll!important;
    background-repeat: no-repeat!important;
}

.product-price.single {
    padding-bottom: 19px;
}

.add-cart-btn {
    text-align: center;
    margin: 15% 0 13%;
}

.add-cart-btn a {
    padding: 14px 22px;
    border-color: #352e2e;
    border-radius: 4px;
    overflow: hidden;
    background-image: linear-gradient(#fedc4c 0, #febb28 100%)!important;
    background-color: #f1be00!important;
    background-size: auto!important;
    background-position: 50% 50%!important;
    background-attachment: scroll!important;
    background-repeat: no-repeat!important;
    color: #fff !important;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px !important;
    font-weight: 600;
}

.add-cart-btn a:hover
{ text-decoration:none;
}




.product-shipping {
    text-align: center;
    font-family: sans-serif;
    font-size: 16px !important;
  color:#000;
}


.product-grt {
    text-align: center;
    font-family: sans-serif;
    font-size: 18px !important;
    text-transform: capitalize;
  color:#000;
}


.product-card-icon {
    width: 70%;
    margin-top: 12px;
}

.product-total {
    text-align: center;
    font-family: sans-serif;
    font-size: 17px !important;
    margin-top: 0 !important;
  color:#000;
}






#wh-wrapper-1
{ padding-bottom:15%;
}

.video-con
{ border:10px solid #000;
}

.red-font
{ color:red !important;
font-weight:bold;
}




section {
	padding: 0;
}
.ancient-h1 {
	font-family: Arial, sans-serif;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: -.02em;
	line-height: 1.35em;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin: 5px 0 0;
	color: #000;
}
.drk-h2 {
	margin-top: 0;
}
#contact {
	background: none;
	color: #888;
	padding-top:3%;
	
}
div.footer-links a {
	color: #888 !important;
}
.pad-btm {
	padding-bottom: 20px;
}
.cart-btn {
	width: 55%;
}
.unmutes a {
	color: #000 !important;
	font-family: Arial;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -.02em;
	text-decoration: none;
	border-bottom: 5px solid #c90;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: #ffbf00;
	background-image: url(../images/unmute.png?v=3);
	background-position: 4% center;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .35);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .35);
	padding: 10px 20px 10px 57px;
	display: inline-block;
	-webkit-animation: 250ms infinite alternate;
	-moz-animation: color_change -10s infinite alternate;
	-ms-animation: color_change -10s infinite alternate;
	-o-animation: color_change -10s infinite alternate;
	animation: color_change ease-in-out 400ms infinite alternate;
}
}
 @-webkit-keyframes color_change {
 from {
background-color: #ffbf00;
}
to {
	background-color: #ffdd93;
}
}
 @-moz-keyframes color_change {
 from {
background-color: #ffbf00;
}
to {
	background-color: #ffdd93;
}
}
 @-ms-keyframes color_change {
 from {
background-color: #ffbf00;
}
to {
	background-color: #ffdd93;
}
}
 @-o-keyframes color_change {
 from {
background-color: #ffbf00;
}
to {
	background-color: #ffdd93;
}
}
 @keyframes color_change {
 from {
background-color: #ffbf00;
}
to {
	background-color: #ffdd93;
}
}
.unmutes {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.sound-para {
	text-align: center;
	font-size: 14px;
	color: #000;
	font-weight: 700;
	margin: 10px 0;
}
.prefer-read-link {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
.prefer-read-link a {
	color: #06f !important;
	font-size: 18px;
	text-decoration: underline !important;
}
.add-cart-grn a {
	color: #fff;
	font-family: Oswald;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: -.02em;
	text-decoration: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #2fc265;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.15);
	box-shadow: 0 3px 6px 0 rgba(0,0,0,.15);
	padding: 10px 60px;
	cursor: pointer!important;
	position: relative;
	-webkit-transition: all 333ms ease;
	-moz-transition: all 333ms ease;
	-ms-transition: all 333ms ease;
	-o-transition: all 333ms ease;
	transition: all 333ms ease;
	text-transform: uppercase;
	color: #fff !important;
}
.add-cart-grn {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.add-cart-grn a:hover {
	color: #fff;
	background: #46cf78;
	cursor: pointer!important;
	-webkit-transition: all 333ms ease;
	-moz-transition: all 333ms ease;
	-ms-transition: all 333ms ease;
	-o-transition: all 333ms ease;
	transition: all 333ms ease;
}
.today-price {
	font-family: Arial, sans-serif;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: -.02em;
	line-height: 1.35em;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin: 0;
	color: #000;
}
.cl-blue {
	color: blue;
}
.cl-red {
	color: red;
}
.cl-green {
	color: #2fc265;
}
.cl-gray {
	color: #666;
}
.ta-center {
	text-align: center!important;
}
.dmiss {
	font-size: 18px;
	margin-bottom: 20px;
}
.payment-img {
	margin-top: 30px;
	margin-bottom: 20px;
}
 @media only screen and (max-width:480px) {

   .product-col
   { margin-bottom:20px !important;
   }
   .col-pad-0 {
    padding: 0 15px;
}
   
   .videoc {
    border: 5px solid #000;
}

.white-wrapper {
	margin: 0;
	padding: 0;
}
.container {
	padding: 0;
}
.row {
	margin: 0;
}
.ancient-h1 {
	font-size: 28px;
	line-height: 125%;
	margin: 20px 0 .35em;
}
.unmutes a {
	font-size: 18px;
}
.cart-btn {
	width: 100%;
}
.today-price {
	font-size: 26px;
}
.drk-h2 {
	margin-top: 0;
	font-size: 20px;
}
.mdl-head h5 {
	font-size: 24px;
}
.mdl-body {
	font-size: 15px;
}
.mybutton {
	font-size: 15px;
}
.exit-gif {
	margin-top: -70px !important;
}
.div-center {
	padding-top: 0px;
	text-align: left;
}
.bakg-list {
	margin-top: 0px;
}
.fedric {
	width: 100% !important;
}
}
