@charset "utf-8";
/* CSS Document */

.ytp-chrome-top-buttons, .ytp-title-text
{ display:none !important;
}


.cov,
.covall,
#loadingVideo,
#cfs {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0
}

#loadingVideo {
   background:none;
    
}

#cfs {
    background-image: url(../mobile_files/tap-sound.png?v2);
    background-size: cover;
    z-index: 25;
    display: none;
    cursor:pointer;
}

.cov {
    background-image: url(../mobile_files/video-cover.png?v2);
    background-size: cover;
    z-index: 20!important;
    display: none
}

.covall {
    z-index: 10!important
}




.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden
}

.responsive-video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.embed-container {
    border: 2px solid #000;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

@media only screen and (max-width:480px)
  {
    
 #cfs {
   /* background-image: url(/images/click-sound-m.gif)*/;   
    
    }
    
}




